* {
  font-family: 'Playfair Display', serif;
}



.card-columns {
   
  column-count: 2;
}

nav {
  border-bottom: 6px solid #4a4b50;
}


.btn-lg:hover{
  background-color: #fcf3cf;
  color: #031a26;
}
 

body {
  background-image: url(../assets/images/prism.png);
  margin: 0 auto 0 auto;
  padding: 0;

  
}

h1 {
  margin-left: 20px;
}

.jumbotron {
  background-color: #fcf3cf;
}

.form-control {
  background-color:  #fcf3cf;
}


.card-body {
  color: #fcf3cf;
}

.card {
  background-color:  #031a26;
  border: 2px solid  #fcf3cf;
}


p {
  font-family: Arial, Helvetica, sans-serif;
}

footer {

  margin-bottom: 0;
  margin-top: 75px;
  height: 90px;
  background-color:    #031a26;
  text-align: center;
  border-top: 6px solid #4a4b50;
   
  
}

h6 {
  margin-top: 30px;
  
}


/* Media Queries */


@media screen and (max-width: 960px) {
  .card-columns {
   
    column-count: 1;
  }

}

@media screen and (max-width: 768px) {
  .container {
 
    max-width: 80%;

  }

  .card-columns {
   
    column-count: ;
  }
}
